h1{
    border: double rgb(119, 0, 255) 2px ;
    background-color: palegoldenrod;
    text-align: center;
}
h2 {
    color: rebeccapurple;
    border: dotted rosybrown 5px;
    padding: 15px ;
    margin: 55px;
    text-align: center;
}

nav {
    padding: 20px;
    margin: 15px;
   justify-content: space-evenly;
    background-color: rgb(113, 184, 187);
   display: flex;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}